@import '../utils/variables.scss';

.tag__info{
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 16px;
}

.tag__arrow{
    height: 10px;
    width: auto;
}

.tag__text{
    font-size: 24px;
}

.armesTags{
    max-width: 600px;
}

.tag__dropdown{
    background-color: #1A1818;
    border: solid 1px #9D9C87;
    padding: 16px;
    gap: 16px;
    width: 75%;
    position: absolute;
    margin: 16px 0 0 32px;
    z-index: 1;
    border-radius: 5px;
    animation: fadeIn 0.2s ease;
}

.tag__dropdownText{
    font-size: 16px;
    color: white;
    cursor: pointer;

    &:hover{
        color: $main-color;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.dropdownOverlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1440px){
    .armesTags{
        flex-direction: column;
        gap: 8px;
    }

    .tag__info{
        justify-content: start;
        padding-left: 50px;
    }
}