.tag__info{
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 16px;
}

.tag__arrow{
    height: 10px;
    width: auto;
}

.tag__text{
    font-size: 24px;
}