.tag__info{
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 16px;
}

.tag__arrow{
    height: 10px;
    width: auto;
}

.tag__text{
    font-size: 24px;
}

.armesTags{
    max-width: 600px;
}

.tag__dropdown{
    background-color: #1A1818;
    border: solid 1px #9D9C87;
    padding: 16px;
    gap: 16px;
    width: 75%;
    position: absolute;
    margin: 16px 0 0 32px;
    z-index: 1;
}

.tag__dropdownText{
    font-size: 16px;
    color: white;
}