.disquesDatas{
    width: 550px;
    height: 70vh;
    overflow-y: auto;
    padding-left: 30px;
    padding-right: 30px;

    direction: rtl;
    > * {
        direction: ltr;
    }
}

.disques__dataEffet, .disques__dataLocalisation{
    font-size: 24px;
    text-wrap: balance;
}

.disques__dataIcone{
    width: 75px;
    height: auto;
}

.disques__dataMonde{
    margin-top: -50px;
}

.titleDecoration{
    transform: translate(-30px, 20px);
    width: 550px;
    height: auto;
}

.disques__dataMondeText{
    width: 100%;
}

.disques__dataVideo{
    width: auto;
    height: 100%;
}

@media screen and (max-width: 767px){
    .disquesDatas{
        gap: 16px;
        width: 100%;
        padding-left: 10px;
        padding-right: 0;
        overflow-x: none;
    }
    .disques__dataEffet, .disques__dataLocalisation{
        font-size: 18px;
    }
    .disques__dataIcone{
        width: 50px;
    }
    .titleDecoration{
        transform: translate(-20px, 15px);
        width: 100vw;
        height: auto;
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .disques__dataVideo{
        width: 80vw;
        height: auto;
        margin-right: 15px;
    }
}