.gestralsDatas{
    width: 550px;
    height: 70vh;
    overflow-y: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.gestralsDatas__localisation{
    font-size: 24px;
}

.gestralsDatas__recompenseInfo{
    gap: 16px;
}

.gestralsDatas__recompenseTitle{
    font-size: 24px;
}

.gestralsDatas__recompense{
    font-size: 18px;
}

.gestralsDatas__images{
    gap: 16px;
}

.gestralsDatas__image{
    width: 50%;
    height: auto;

    cursor: pointer;
    &:hover{
        outline: 2px solid #9D9C87;
    }
}

.gestralImage{
    margin-top: -25px;
    margin-bottom: -25px;
}

@media screen and (max-width: 767px){
    .gestralsDatas{
        gap: 16px;
        width: 100%;
        padding-left: 10px;
        padding-right: 0;
    }
    .gestralsDatas__localisation{
        font-size: 18px;
    }
    .gestralImage{
        margin-top: 8px;
        margin-bottom: 8px;
        width: 50px;
    }
    .gestralsDatas__recompense{
        font-size: 18px;
    }
    .gestralsDatas__recompense{
        font-size: 16px;
    }
    .gestralsDatas__images{
        display: flex;
        justify-content: center;
    }
    .gestralsDatas__image{
        width: 40%;
        height: auto;
    }
    .gestralsDatas__localisation{
        margin: 0 32px;
    }
}