@import '../utils/variables.scss';

.header__navigation{
    justify-content: space-evenly;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

.header__button{
    margin: 0 20px 20px 20px;
}

.header__button:hover{
    .header__buttonText{
        color: $main-color;
    } 
}

nav a.active{
    .header__buttonText{
        color: $main-color;
    }
    .header__button{
        transform: scale(1.1);
    }
}

.header__buttonText{
    font-family: Cinzel;
    font-size: 24px;
    color: white;
}

@media screen and (max-width: 1440px){
    .header__navigation{
        justify-content: center;
        margin-bottom: 30px;
    }
}