.headerTablet{
    width: 100%;
    margin-bottom: 24px;
}

.hamburgerButton{
    position: fixed;
    top: 24px;
    left: 24px;
    width: 54px;
    height: 54px;
}

.logoTablet{
    margin: 0 auto;
    width: 200px;
    height: auto;
}