.personnageListe{
    column-gap: 50px;
}

.character{
    cursor: pointer;
    &:hover{
        filter: drop-shadow(0 0 8px #ECCFA3);
    }
}

.characterActive{
    filter: drop-shadow(0 0 8px #ECCFA3);
}

.characterImage{
    width: 100%;
}

@media screen and (max-width: 1440px){
    .personnageListe{
        justify-content: center;
        column-gap: 16px;
    }
}

@media screen and (max-width: 767px){
    
}