.pictosDatas{
    width: 550px;
    height: 70vh;
    overflow-y: auto;
    padding-left: 30px;
    padding-right: 30px;

    direction: rtl;
    > * {
        direction: ltr;
    }
}

.pictos__dataEffet, .pictos__dataLocalisation{
    font-size: 24px;
    text-wrap: balance;
}

.pictos__dataStatistiques{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.pictos__dataIcone{
    width: 75px;
    height: auto;
}

.pictos__dataMonde{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pictos__dataRepos{
    font-size: 18px;
}

