@import '../utils/variables.scss';

.disques{
    justify-content: space-between;
    height: 75vh;
}

.disques__select{
    height: 100%;
    gap: 16px;
}

.disques__paragraph{
    text-align: center;
    font-family: "IM Fell English";
    font-style: italic;
    font-size: 36px;
    opacity: 0.66;
}

.backgroundData{
    transform: translateY(-55px);
}

.disques__data{
    text-align: center;
}

.disques__dataAbsolute{
    position: absolute;
    top: 56%;
    left: 52%;
    transform: translate(-50%, -50%);
    height: 100%;
}

@media screen and (max-width: 1024px){
    .disques__data{
        transform: translateY(24px);
    }
}

@media screen and (max-width: 767px){
    .disques__paragraph{
        font-size: 28px;
    }

    .disques__data{
        transform: translate(-12px, 24px);
    }

    .disques__dataAbsolute{
        width: 100%;
    }
}