@import '../utils/variables.scss';

.gestrals{
    justify-content: space-between;
    height: 75vh;
}

.gestrals__select{
    height: 100%;
    gap: 16px;
}

.gestrals__paragraph{
    text-align: center;
    font-family: "IM Fell English";
    font-style: italic;
    font-size: 36px;
    opacity: 0.66;
}

.backgroundData{
    transform: translateY(-55px);
}

.gestrals__data{
    text-align: center;
}

.gestrals__dataAbsolute{
    position: absolute;
    top: 56%;
    left: 52%;
    transform: translate(-50%, -50%);
    height: 100%;
}

.gestralButton{
    transform: scaleY(-1);
}

.gestrals__button{
    height: fit-content;
    cursor: pointer;
    transition: transform 0.2s ease;
    &:hover{
        transform: scale(1.05);
        .pictos__buttonText{
            color: $main-color;
        }
    }
}

.gestral__buttonText{
    width: 100%;
    align-items: center;
}

.gestrals__buttonTextInfo{
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.gestrals__buttonTextNom{
    font-family: 'IM Fell English';
    font-size: 24px;
    width: 70%;
}

.gestrals__buttonTextNumero{
    font-family: 'BebasNeue-Regular';
    font-size: 28px;
    transform: translateX(-30px);
}

.gestrals__list{
    display: flex;
    flex-direction: column;
    gap: 35px;
    flex-wrap: wrap;
    height: 100%;
    width: fit-content;
}

@media screen and (max-width: 1440px){
    .gestrals__list{
        overflow-y: auto;
        flex-wrap: nowrap;
        padding: 16px;
    }
}

@media screen and (max-width: 1024px){
    .gestrals{
        justify-content: center;
    }

    .gestrals__list{
        overflow-y: none;
        flex-wrap: wrap;
    }

    .gestrals__data{
        transform: translateY(24px);
    }
}

@media screen and (max-width: 767px){
    .gestrals__paragraph{
        font-size: 28px;
    }

    .gestrals__data{
        transform: translate(-12px, 24px);
    }

    .gestrals__dataAbsolute{
        width: 100%;
    }

    .gestrals__list{
        overflow-y: none;
        flex-wrap: nowrap;
    }

    .gestrals__buttonTextNom{
        font-size: 21px;
    }

    .gestrals__buttonTextNumero{
        font-size: 21px;
    }
}