@import '../utils/variables.scss';

.home{
    align-items: center;
}

.home__logo{
    width: 610px;
    height: auto;
}

.home__paragraph{
    text-align: center;
    font-family: "IM Fell English";
    font-style: italic;
    font-size: 36px;
    opacity: 0.66;
    font-weight: 100;
}

.home__button{
    position: relative;
    cursor: pointer;
    
    &:hover{
        .home__buttonText{
            color: white;
            
        }
    }
}

.home__buttonText{
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "EB Garamond";
    font-size: 24px;
    color: $main-color;
    font-size: 48px;
}