.backgroundJournal{
    width: 600px;
    height: auto;
    display: block;
    transform: scaleX(-1);
}

.journal__paragraph{
    text-align: center;
    font-family: "IM Fell English";
    font-style: italic;
    font-size: 36px;
    opacity: 0.66;
}

.journaux__select{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 30px;
    height: 60vh;
    margin-left: -10px;
    margin-top: -70px;
    padding-right: 20px;
}

.journalButton{
    width: 90px;
    height: 90px;
}

.journaux__carre{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.1;
    font-size: 48px;
}

.journaux__carreName{
    font-family: Cinzel;
    font-size: 21px;
    text-align: center;
}

.journal__numero, .journal__contenu, .journal__localisation{
    font-size: 24px;
    white-space: pre-line;
}

.journal__monde{
    font-size: 18px;
}

.journal__content, .journal__obtention{
    flex: 1;
}

.journal__content{
    height: 100%;
    overflow-y: auto;
    padding-left: 30px;
    margin-right: 50px;

    direction: rtl;
    
    //Ré-inverse le contenu pour qu'il reste normal
    > * {
        direction: ltr;
    }
}

.journal__obtention{
    display: flex;
    justify-content: center;
    align-items: center;
}

.verticalLine{
    height: 75%;
    width: auto;
}

.journal__data{
    margin-top: 100px;
    height: 63vh;
}

.journal__obtentionInfo{
    gap: 16px;
}