.journal{
    height: 75vh;
}

.backgroundJournal{
    width: 600px;
    height: auto;
    display: block;
    transform: scaleX(-1);
}

.journal__paragraph{
    text-align: center;
    font-family: "IM Fell English";
    font-style: italic;
    font-size: 36px;
    opacity: 0.66;
}

.journaux__select{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 30px;
    height: 60vh;
    margin-left: -10px;
    margin-top: -70px;
    padding-right: 20px;
}

.journalButton{
    width: 90px;
    height: 90px;
}

.journaux__carre{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.1;
    font-size: 48px;
}

.journaux__carreName{
    font-family: Cinzel;
    font-size: 21px;
    text-align: center;
}

.journal__numero, .journal__contenu, .journal__localisation{
    font-size: 24px;
    white-space: pre-line;
}

.journal__monde{
    font-size: 18px;
}

.journal__content, .journal__obtention{
    flex: 1;
}

.journal__content{
    height: 100%;
    padding-left: 30px;
    margin-right: 16px;
}

.journal__contenu{
    padding-right: 16px;
    height: 54vh;
    overflow-y: auto;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.journal__obtention{
    display: flex;
    justify-content: center;
    align-items: center;
}

.verticalLine{
    height: 75%;
    width: auto;
}

.journal__data{
    margin-top: 100px;
    height: 63vh;
}

.journal__obtentionInfo{
    gap: 16px;
}

@media screen and (max-width: 1440px) {
    .journal__data {
        flex-direction: column;
    }
    
    .verticalLine {
        display: none;
    }
    .cursor {
        display: none;
    }

    .journal__monde{
        font-size: 24px;
    }
    
    .journal__content {
        order: 2;
        padding-left: 0;
        margin-right: 0;
    }
    
    .journal__obtention {
        order: 1;
        margin-bottom: 50px;
    }

    .journal__contenu {
        height: auto;
        max-height: 40vh;
    }

    .journal__obtention{
        gap: 0;
    }
}